@mixin common_box-shadow($botton-up: false) {
    $v: 0 1.6px;
    @if ($botton-up == true) {
      $v: 0 -1.6px;
    }
    -webkit-box-shadow: $v 3.6px 0 rgba(0,0,0,0.132), 0 0.3px 0.9px 0 rgba(0,0,0,0.108);
    box-shadow: $v 3.6px 0 rgba(0,0,0,0.132), 0 0.3px 0.9px 0 rgba(0,0,0,0.108);
  }
  
  @mixin link_transition {
    transition: color 300ms;
  }
  
  @mixin transition_all {
    transition: all 300ms;
  }
  
  @mixin text_ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }