/** COMMON **/
$font-size: 14px;
$font-family: Open Sans, Helvetica Neue, Arial, Helvetica, sans-serif;
$app-bg: #f7f7f7;
$box-bg: #fff;
$link-color: #99CCEE;
$task-todo-color: #b391ca;
$task-in-progress-color: #9ce;
$task-completed-color: #80c25d;
$main-text-color: #0009;
$buzz-online: #a0d771;
$buzz-offline: #808080;
$buzz-idle: #fccf84;
$screen-header-height: 60px;
$screen-header-padding-top: 5px;
$screen-footer-height: 60px;
$screen-footer-padding-top: 5px;

/** HEADER **/
$header-height: 50px;
$header-padding: 10px 20px;

/** FOOTER **/
$footer-height: 60px;
$footer-padding: 0;

/** BUZZ HEADEr **/
$buzz-header-height: 70px;
$buzz-header-padding-top: 5px;
$buzz-input-box-height: 60px;

$task-overdue-color: #c92e25;
$task-duesoon-color: #fb8d33;