@import "_variables";
@import "_mixins";
html,
body {
  overflow: hidden;
}
.home-page{
  background: #ededed;
    padding: 30px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 30px -5px #2c3e50;
    box-shadow: 0 0 30px -5px #2c3e50;
    margin: 1rem auto;
    min-height: 300px;
    width:500px;
    .input-content{
      margin-bottom: 30px;
    }
}
.todo-item{
  .todo-row{
    padding: 7px;
    margin-top: 10px;
    background-color: #fff;
    border: 1px solid #cecece;
    margin-left: 0pc;
    margin-right: 0px;
    border-radius: 3px;
    cursor: pointer;
    .complete{
      text-decoration: line-through;
      opacity: 0.5;
    }
    &:hover .div-delete {
      display: block;
    }
    .div-delete {
      display: none;
      color: #f00;
    }
  }
}
 
