<template>
  <div>
    <div v-for="item in todoList" :key="item.id">
      <todoitem :todo="item"></todoitem>
    </div>
  </div>
</template>
<script>
import service from '@/services'
import TodoItem from '../components/TodoItem'
export default {
  name: 'recyclebin',
  components: {
    todoitem: TodoItem
  },
  computed: {
    todoList() {
      let todoListTemp = this.$store.getters.todoList
      let todoList = todoListTemp.filter(x => x.completedAt)
      return todoList
    }
  },
  methods: {
    
  }
}
</script>
<style scoped lang="scss">
</style>