<template>
  <div class="home-page">
    <b-form-input v-model="content" placeholder="Enter new todo" @keyup.enter.prevent="save()"></b-form-input>

    <draggable :list="todoList" @end="sortToDoList()">
      <transition-group>
        <div v-for="item in todoList" :key="item.id">
          <todoitem :todo="item" @deleteToDo="deleteToDo(item)" @doneToDo="doneToDo(item)"></todoitem>
        </div>
      </transition-group>
    </draggable>
  </div>
</template>
<script>
import service from '@/services'
import todoitem from '../components/TodoItem'
import draggable from "vuedraggable"

export default {
  name: 'todo',
  components: {
    draggable,
    todoitem
  },
  mounted() {
    //this.getAllTodo();
  },
  data() {
    return {
      content: null
    }
  },
  computed: {
    todoList() {
      let todoListTemp = this.$store.getters.todoList
      let todoList = todoListTemp.filter(x => !x.deleteAt)
      return todoList
    }
  },
  methods: {
    formatDate() {
      var d = new Date;
      var dformat = [d.getMonth() + 1, d.getDate(), d.getFullYear()].join('/') + ' ' + [d.getHours(), d.getMinutes(), d.getSeconds()].join(':');
      return dformat;
    },
    save() {
      if (!this.content) {
        return
      }
      var todo = {
        id: service.todoservice.radomId(),
        content: this.content,
        createAt: this.formatDate(),
        completedAt: null,
        deleteAt: null
      }
      this.todoList.push(todo)
      this.content = ""
      service.todoservice.saveAllItems(this.todoList)
    },
    deleteToDo(todo) {
      service.todoservice.deleteToDo(todo)
    },
    doneToDo(todo) {
      service.todoservice.doneToDo(todo)
    },
    sortToDoList(){
      console.log(this.todoList)
      service.todoservice.sortToDoList(this.todoList)
    }
  }
}
</script>
