<template>
  <div class="home-page">
    <b-row>
        <b-col sm=4 v-for="btn in filterArr" :key="btn.id">
          <b-button variant="link" @click="filterToDo(btn.filtertext)">{{btn.text}}</b-button>
        </b-col>
      </b-row>
    <b-form-input v-model="content" placeholder="Enter new todo" @keyup.enter.prevent="save()"></b-form-input>

    <draggable :list="todoList" @end="sortToDoList()">
      <transition-group>
        <div v-for="item in todoList" :key="item.id">
          <todoitem :todo="item" @deleteToDo="deleteToDo(item)" @doneToDo="doneToDo(item)"></todoitem>
        </div>
      </transition-group>
    </draggable>
  </div>
</template>
<script>
import service from '@/services'
import store from '@/store'
import todoitem from '../components/TodoItem'
import draggable from "vuedraggable"
export default {
  name: 'todov1',
  components: {
    draggable,
    todoitem
  },
  data() {
    return {
      content: '',
      filterType: 'todo',
      filterArr:[
        {id:1,text:'Todo',filtertext:'todo'},
        {id:2,text:'Complete',filtertext:'complete'},
        {id:3,text:'Recycle bin',filtertext:'recyclebin'}
      ]
    }
  },
  computed: {
    todoList() {
      let todoList = this.$store.getters.todoList

      switch (this.filterType) {
        case "todo":
          todoList = todoList.filter(x => !x.deleteAt)
          break;
        case "complete":
          todoList = todoList.filter(x => x.completedAt && !x.deleteAt)
          break;
        case "recyclebin":
          todoList = todoList.filter(x => x.deleteAt)
          break;
      }
      // if(this.content){
      //   todoList= todoList.filter(x=>{
      //     return (x.content.toLowerCase().indexOf(this.content.toLowerCase())>-1)
      //   })
      // }
      return todoList
    }
  },
  methods: {
    formatDate() {
      var d = new Date;
      var dformat = [d.getMonth() + 1, d.getDate(), d.getFullYear()].join('/') + ' ' + [d.getHours(), d.getMinutes(), d.getSeconds()].join(':');
      return dformat;
    },
    save() {
      if (!this.content) {
        return
      }
      var todo = {
        id: service.todoservice.radomId(),
        content: this.content,
        createAt: this.formatDate(),
        completedAt: null,
        deleteAt: null
      }
      this.todoList.push(todo)
      this.content = ""
      service.todoservice.saveAllItems(this.todoList)
    },
    deleteToDo(todo) {
      service.todoservice.deleteToDo(todo)
    },
    doneToDo(todo) {
      service.todoservice.doneToDo(todo)
    },
    sortToDoList(){
      service.todoservice.sortToDoList(this.todoList)
    },
    filterToDo(filter) {
      var todoList = this.$store.getters.todoList;
      this.filterType = filter

      store.commit("todoList", todoList)
    },
  }
}
</script>
<style scoped>

</style>