<template>
  <div class="home-page">
      <b-row>
        <b-col sm=4 v-for="btn in filterArr" :key="btn.id">
          <b-button variant="link" @click="filterToDo(btn.filtertext)">{{btn.text}}</b-button>
        </b-col>
      </b-row>
      <div class="input-content" v-if="filterType=='todo'">
        <b-input-group-prepend>
          <b-form-input  v-model="content" placeholder="Enter new todo" @keyup.enter.prevent="save()"></b-form-input>
        </b-input-group-prepend>
      </div>
      
     
        <div v-for="item in todoList" :key="item.id">
          <todo-item :todo="item" @change-todo="changeToDo"></todo-item>
        </div>
  
    </div>
</template>
<script>
import service from '@/services'
import store from '@/store'
import todoitemV3 from '../components/TodoItemV3'
export default {
  name: 'todov3',
  components: {
    'todo-item':todoitemV3
  },
  data() {
    return {
      content: '',
      filterType: 'todo',
      filterArr:[
        {id:1,text:'TodoV3',filtertext:'todo'},
        {id:2,text:'CompleteV3',filtertext:'complete'},
        {id:3,text:'Recycle bin',filtertext:'recyclebin'}
      ]
    }
  },
  computed: {
    todoList() {
      let todoList = this.$store.getters.todoList

      switch (this.filterType) {
        case "todo":
          todoList = todoList.filter(x => !x.deleteAt)
          break;
        case "complete":
          todoList = todoList.filter(x => x.completedAt && !x.deleteAt)
          break;
        case "recyclebin":
          todoList = todoList.filter(x => x.deleteAt)
          break;
      }
      // if(this.content){
      //   todoList= todoList.filter(x=>{
      //     return (x.content.toLowerCase().indexOf(this.content.toLowerCase())>-1)
      //   })
      // }
      return todoList
    }
  },
  methods: {
    formatDate() {
      var d = new Date;
      var dformat = [d.getMonth() + 1, d.getDate(), d.getFullYear()].join('/') + ' ' + [d.getHours(), d.getMinutes(), d.getSeconds()].join(':');
      return dformat;
    },
    save() {
      if (!this.content) {
        return
      }
      var todo = {
        id: service.todoservice.radomId(),
        content: this.content,
        createAt: this.formatDate(),
        completedAt: null,
        deleteAt: null
      }
      this.todoList.push(todo)
      this.content = ""
      service.todoservice.saveAllItems(this.todoList)
    },
    sortToDoList() {
      service.todoservice.sortToDoList(this.todoList)
    },
    filterToDo(filter) {
      var todoList = this.$store.getters.todoList;
      this.filterType = filter

      store.commit("todoList", todoList)
    },
    changeToDo(todo){
      debugger
      switch(todo.action){
        case 'deleteToDo':
          service.todoservice.deleteToDo(todo)
          break;
        case 'revertToDo':
          service.todoservice.revertToDo(todo)
          break;
        case 'doneToDo':
          service.todoservice.doneToDo(todo)
          break;
      }
    }
  }
}
</script>
<style scoped>

</style>