<template>
    <div class="nav-bar">
    <router-link :to="{ name: 'todov1'}">V1</router-link>
    <router-link :to="{ name: 'todov2'}">V2</router-link>
    <router-link :to="{ name: 'todov3'}">V3</router-link>
  </div>
</template>
<script>
export default {
    name: 'NavBar'
}
</script>
<style scoped lang="scss">
.nav-bar {
  text-align: center;
  padding: 20px 0;
  a {
    font-weight: bold;
    color: #2c3e50;
    padding: 10px;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>