<template>
  <div class="todo-item">
    <b-row class="todo-row">
      <b-col sm=11 @click="doneToDo()" :class="todo.completedAt?'complete':''">
        {{todo.content}}
      </b-col>
      <b-col sm=1 class="div-delete" @click="deleteToDo()" v-if="!todo.deleteAt">
        <span class="fa fa-trash"></span>
      </b-col>
      <b-col sm=1 class="div-delete" @click="revertToDo()" v-if="todo.deleteAt">
        <span class="fa fa-history"></span>
      </b-col>
    </b-row>

  </div>
</template>
<script>
import service from '@/services'

export default {
  name: 'home',
  props: {
    todo: Object,
    todoList: Array
  },
  mounted() {
  },
  data() {
    return {
    }
  },
  methods: {
    formatDate() {
      var d = new Date;
      var dformat = [d.getMonth() + 1, d.getDate(), d.getFullYear()].join('/') + ' ' + [d.getHours(), d.getMinutes(), d.getSeconds()].join(':');
      return dformat;
    },
    deleteToDo() {
      this.$emit("deleteToDo")
    },
    revertToDo() {
      this.$emit("revertToDo")
    },
    doneToDo() {
      this.$emit("doneToDo")
    }
  }
}
</script>
