<template>
  <div id="app">
    <!-- <div class="home-page">
      <b-row>
        <b-col sm=4 v-for="btn in filterArr" :key="btn.id">
          <b-button variant="link" @click="filterToDo(btn.filtertext)">{{btn.text}}</b-button>
        </b-col>
      </b-row>
      <div class="input-content" v-if="filterType=='todo'">
        <b-input-group-prepend>
          <b-form-input  v-model="content" placeholder="Enter new todo" @keyup.enter.prevent="save()"></b-form-input>
        </b-input-group-prepend>
      </div>
      
      <draggable :list="todoList" @end="sortToDoList()">
        <div v-for="item in todoList" :key="item.id">
          <todo-item :todo="item" @change-todo="changeToDo"></todo-item>
        </div>
      </draggable>
    </div> -->
    <the-nav class="has-text-centered" />
    <router-view />
  </div>
</template>
<script>
// import service from '@/services'
// import todoitem from './components/TodoItem'
// import todoitemV2 from './components/TodoItemV2'
// import draggable from "vuedraggable"
// import store from '@/store'

import TheNav from './components/NavBar'

export default {
  name: 'App',
  components: {
    TheNav
  }
}
</script>
<style src="./styles/styles.scss" lang="scss"></style>
